<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
      <h1>{{currentTime}}</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <div ng-repeat="m in meds">
            {{m.time}} {{m.name}} {{m.dosage}}
        </div>
    </div>
  </div>
  <br></br>  

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <div ng-repeat="i in interactions">        
             <table>
               <tr >
                 <td> {{i.name1}} </td>
                 <td> {{i.description}} </td>
               </tr>
               <tr>
                 <td> {{i.name2}} </td>
                 <td> 
                    <div ng-if="i.severity != 'N/A'">
                      {{i.severity}}
                    </div>
                 </td>
               </tr>
             </table>
             <br></br>
        </div>
    </div>
  </div>

</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
